* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Roboto Serif', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(135deg, #00c4a7 0%, #006b58 100%);
  min-height: 100vh;
  overflow-x: hidden;
}

code {
  font-family: 'Roboto Mono', monospace;
}